@import url(./style.css);

.newheader {
    background: linear-gradient(135deg, rgb(255, 255, 255, 1) 75%, rgb(255, 255, 255, 0) 10%);
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    .newhead {
        width: 90%;
        margin: auto;
        border: 0;
        padding: 10px 20px;
        border-radius: 100px;
    }

    .center {
        margin: auto 0;
        text-align: center;

        img {
            width: 150px;
        }

        a {
            line-height: 1 !important;
        }
    }

    .icon {
        margin: auto 0;

        #on {
            border: 1px solid var(--primary-color);
            padding: 0 10px;
            border-radius: 25px;
            width: fit-content;
            cursor: pointer;
        }
    }

    #off {
        width: fit-content;
        border-bottom: 2px solid var(--fourth-color);
        margin-bottom: 30px;
        cursor: pointer;

        p {
            color: var(--fourth-color);
            font-size: 25px;
            line-height: 1.5;
        }
    }
}

.newheader.scrolled {
    background-color: var(--fourth-color);
    box-shadow: 0 2px 2px rgba(20, 20, 20, 0.1);
}

.navigate {
    transition: left 0.4s ease-in-out;
    z-index: 1000;
    position: absolute;
    background: linear-gradient(to right, var(--fifth-color), rgb(20, 20, 20, 0));
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    padding: 40px 60px;
    margin: auto 0;

    ul {
        list-style-type: none;
        margin-bottom: 0;
        background-color: transparent;
    }

    nav ul li a.active {
        color: var(--primary-color) !important;
        border-color: var(--primary-color) !important;
    }

    a {
        font-size: 20px;
        color: var(--fourth-color) !important;
        transition: border-color 0.5s ease-in-out;
        padding: 2px 10px;
        border-bottom: 2px solid transparent;
    }

    li {
        background-color: transparent;
        margin: 0;
        padding: 2px;
        cursor: pointer;
        margin-bottom: 15px;
    }

    li:hover {
        a {
            color: var(--secondary-color) !important;
        }
    }
}

.navigate.active {
    left: 0;
}

form {
    ::placeholder {
        color: #595959;
    }

    input,
    select,
    textarea {
        line-height: 1em !important;
        background-color: var(--fourth-color);
        width: 100%;
        padding: 12px;
        margin: 5px 0;
        border: 1px solid #cacaca;
        border-radius: 5px;
        font-size: 15px;
    }

    label {
        flex: 1;
        font-family: var(--secondary-font);
        font-size: 16px;
        margin-top: 10px;
        text-align: left;
        font-weight: 400;
    }

    button {
        width: 100%;
    }

    div {
        gap: 5px;
    }
}

.herobg {
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0)), url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        color: var(--fourth-color);
        text-shadow: none;
    }
}

.contact {
    form {
        margin-top: 10px;

        button {
            width: 100px;
        }

        input {
            padding: 15px;
            border: 1px solid #cacaca;
            border-radius: 5px;
        }
    }

    .right {
        background-color: var(--primary-color);
        padding: 20px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        max-width: 35%;

        h2 {
            color: var(--fourth-color) !important;
            padding: 5px;
            border-bottom: 1px solid #cacaca;
        }

        h3 {
            background-color: var(--fourth-color);
            border-radius: 50px;
            margin: auto 0;
            z-index: 1;
            color: var(--primary-color) !important;
        }

        p {
            background-color: var(--primary-color);
            color: var(--fourth-color);
            padding: 0 20px;
            border-radius: 0 30px 30px 0;
            margin-left: -10px !important;
            border: 1px solid #fff;
        }

        .flex {
            margin-top: 10px;
        }

        a,
        a:hover {
            color: var(--fourth-color);
        }
    }

    h3,
    p {
        margin: auto 0 !important;
    }
}

.banner {
    background-image: linear-gradient(45deg, rgb(20, 20, 20, 0.5), rgb(20, 20, 20, 0)), url(../images/home_banner.jpg);
    background-position-x: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    h1 {
        font-family: var(--third-font) !important;
        text-shadow: none;
        color: var(--fourth-color) !important;
    }

    .row {
        padding-top: 150px;
    }

    p {
        color: var(--fourth-color);
        line-height: 1.4;
    }

    b {
        font-size: 21px;
    }
}

.aboutus {
    .flex {
        gap: 10px;
        margin-bottom: 10px;
    }

    hr {
        margin: auto 0;
        flex: 1;
        border: 1px solid var(--third-color);
    }

    i {
        color: var(--secondary-color);
    }

    img {
        width: 100%;
    }

    .row {
        padding-block: 0;
    }

    button {
        margin-top: 10px;

        i {
            color: #fff;
        }
    }
}

.usps {
    .flex {
        gap: 10px;
    }

    hr {
        margin: auto 0;
        flex: 1;
        border: 1px solid var(--third-color);
    }

    .uspcol {
        box-shadow: 0 0 4px 4px rgba(20, 20, 20, 0.1);
        border-radius: 5px;
        padding: 50px 30px;
        background-color: var(--fourth-color);
        transition: transform 0.6s, background-color 0.6s;
        transform-style: preserve-3d;
        cursor: pointer;
        text-align: center;
    }

    .uspcol:hover {
        transform: rotateY(360deg);
        background-color: var(--secondary-color);

        h3,
        h4,
        p {
            color: var(--fourth-color) !important;
        }
    }

    p {
        line-height: 1.7;
        font-size: 15px;
    }

    h4 {
        margin-block: 10px;
    }

    img {
        width: 100px;
    }
}

.faqsec {
    h3:first-child {
        flex: 1;
    }

    .fa-caret-up,
    .faqdetails {
        display: none;
    }

    .show {
        display: block;
    }

    .faqs {
        border-bottom: 2px solid #cacaca;
        padding-bottom: 10px;
        cursor: pointer;
    }

    .faqdetails {
        margin-top: 10px;
    }

    div {
        margin-bottom: auto;
    }
}

.ctasection {
    background-image: linear-gradient(45deg, rgb(6, 95, 70, 0.8), rgb(65, 65, 165, 0.8)), url(../images/ctabanner.png);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;

    h2 {
        color: var(--fourth-color) !important;
        padding-bottom: 10px;
        border-bottom: 2px solid var(--fourth-color);
    }

    .grid {
        gap: 10px;
    }

    input,
    select {
        margin: 0;
    }

    textarea {
        margin-bottom: 0;
        margin-top: 10px;
    }

    button {
        margin-top: 10px;
        width: fit-content;
    }

    label {
        color: var(--fourth-color);
    }

    .column1 {
        background-image: url(../images/cloud.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        padding-block: 150px;
    }
}

.TeachingApproach {
    text-align: center;

    hr {
        margin-block: 10px;
        width: 100px;
        margin-inline: auto;
        border: 2px solid var(--secondary-color);
    }

    i {
        background-color: var(--primary-color);
        padding: 10px;
        border-radius: 50px;
        color: var(--fourth-color);
        font-size: 20px;
    }

    .colum {
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;

        img {
            width: 50px;
        }

        p:last-child {
            line-height: 1.5;
            font-size: 15px;
        }
    }

    .colum:hover {
        box-shadow: 0 0 2px 2px rgba(20, 20, 20, 0.3);
    }
}