@media (max-width: 1024px) {
    .row {
        width: 100%;
        padding: 20px;
        margin: auto;
    }

    h1 {
        font-size: 1.8em !important;
    }

    h2 {
        font-size: 1.5em !important;
    }

    h3 {
        font-size: 1.2em !important;
    }

    button {
        font-size: 14px;
    }

    .gap,
    .gap3 {
        gap: 10px;
    }

    .newheader {
        width: 100% !important;

        .grid2 {
            grid-template-columns: repeat(3, 1fr);
        }

        .newhead {
            width: 100% !important;
            padding: 10px 20px;

            img {
                width: 100%;
            }
        }
    }
    
    .grid1,
    .grid2,
    .grid3 {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
    }

    .grid1,
    .grid2,
    .grid3 {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .contact {
        .right {
            max-width: 100%;
            margin-bottom: 20px;
        }
    }

    .newfooter {
        .grid {
            grid-template-columns: repeat(2, 1fr);
        }

        .column:nth-child(1), .column:nth-child(2) {
            grid-column: span 2;
        }
    }
}